<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns="http://www.w3.org/1999/xhtml"
   
    xmlns:sec="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
     integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

    <title>Login</title>




    <!-- Bootstrap core CSS -->
    
   
     <link rel="stylesheet" type="text/css" href="/css/materia/bootstrap.min.css"/>
    

    <!-- Custom styles for this template -->
  
     <link rel="stylesheet" type="text/css" href="/css/style.css"/>
     
<body>
	    
	    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/index">DIGITAL BIT RARY</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Acceuil <span class="sr-only">(current)</span></a>
      </li>
     
  </div>
</nav>
	     
  <form  method="POST" th:action="@{'/addbook/' + ${principal.getId()}  }" th:object="${add}" encType="multipart/form-data">
  
   <div class="form-group">
     <label  for="titre" >titre</label>      
     <input id="titre" type="text" class="form-control" aria-describedby="titreHelp" name="titre" placeholder="Entrer Le titre Svp"  required autofocus th:field="*{titre}">   
   </div>
   
   <div class="form-group">
     <label  for="isbn" >isbn</label>      
     <textarea id="isbn"  rows="3" class="form-control" aria-describedby="descriptionHelp" name="isbn" placeholder="Entrer Le ISBN Svp"  required autofocus th:field="*{isbn}"></textarea>
   
   </div>
   
   <div class="form-group">
    <label >Selectionner le livre:</label><br>
    <input class="form-control"  type="file" name="files"  multiple required />
   </div>


  <br><button type="submit" class="btn btn-primary">Publier</button>
</form>
 
</body>
</html>